@media (max-width:600px) {

.camera img {
  margin-top: 37px;
}
.contact {
  margin-left: 0;
  width: 100%;

      section  {

                  p{
                width: 100%;
                margin-left: 52px;
              }

              h1 {
                width: 122%;
                padding-left: 43px;
              }
      }


}
.content {
      margin-left: -5px;
      width: 100%;

          section {
            display: block;
            width: 100%;

                  p {
                    width: 93%;
                  }

                  h1 {
                    text-align: center;
                    padding-top: 60px;
                  }

          }



}
    .subscribe  {
      display: none;
    }

    .eagle {
      display: none;
    }

.icon-2 {
  width: 130.5%;
  margin-left: -180%;


}

.skateboards {
  display: none;
}

.navbar {
  width: 100%;

          section {

          padding-right: 87.2;
          width: 50%;
          display: block;
          margin-left: 103px;

            p {
              width: 100%;
            }

        }
}
.submit {
  width: 32%;
  margin-right: 127px;
  margin-bottom: 37px;
}


.inputtabs {
  float: left;
  padding-top: 358px;
  width: 100%;
  margin-left: 18px;
}
.middle {
  width: 100%;

      .redarrow {
        display: none;
      }
      .skaters {
        width: 100%;
        padding-top: 20px;
        padding-left: 5px;

           .tommy {
             display: none;
           }

                .col-1 {
                  width:98%;

                    .row1 {
                      .lance, .rodney {
                        display: inline-block;
                        width: 48%;

                          p{
                            margin-left: -20px;
                          }
                      }
                   }

                .steve p {
                  margin-left: -50px;
                }

                }
      }
}



}

@media (max-width:600px) {

  .camera img {
    width: 83%;
  }
  .navbar {
    width: 100%;
            section {
              padding-left:37px;
              padding-right: 27px;
              margin-left: 54px;

                    p {
                      font-size: 12px;
                    }

            }

  }
}


@media (min-width:600px) and (max-width:935px) {
  .navbar {
    width: 100%;

            section {

            padding-right: 87.2;
            width: 70%;
            display: block;
            margin-left: 103px;

              p {
                width: 100%;
              }

          }
  }

  .content {
    margin-left: 161px;
            section {
              width: 100%;
            }
}
}
@media (max-width:1300px) {
  .eagle {
    display: none;
  }
}
@media (max-width:1472px){

.navbar {
  width: 80%;

}


.skateboards {
  display: none;
}
.subscribe {
  display: none;
}

.grid {
  img {
    display: none;
  }
}

// .middle {
//   width: 100%;
//
//       .redarrow {
//         display: none;
//       }
//       .skaters {
//         width: 100%;
//         padding-top: 20px;
//         padding-left: 5px;
//
//            .tommy {
//              display: none;
//            }
//
//                 .col-1 {
//                   width:98%;
//
//                     .row1 {
//                       .lance, .rodney {
//                         display: inline-block;
//                         width: 48%;
//
//                           p{
//                             margin-left: -20px;
//                           }
//                       }
//                    }
//
//                 .steve p {
//                   margin-left: -50px;
//                 }
//
//                 }
//       }
// }





}
@media (min-width:800px) and (max-width:1303px){
      .middle {
        .skaters {
          width: 62%;
          margin-left: auto;
          margin-right: auto;
        }
      }
}

@media (min-width:594px) and (max-width:1260px){

  .middle {
    width: 71%;
    margin-left: auto;
    margin-right: auto;

        .redarrow {
          display: none;
        }
        .skaters {
          width: 75%;
          padding-top: 20px;
          padding-left: 5px;

             .tommy {
               display: none;
             }

                  .col-1 {
                    width:98%;

                      .row1 {
                        .lance, .rodney {
                          display: inline-block;
                          width: 48%;

                            p{
                              margin-left: -20px;
                            }
                        }
                     }

                  .steve p {
                    margin-left: -50px;
                  }

                  }
        }
  }

.content {

width: 60%;
margin-left: auto;
margin-right: auto;

        section {
        padding-bottom: 154px;
                        p {
                        width: 126px;
                      }

}

}

}

@media (min-width:951px) and (max-width:1320) {
.submit {
  margin-top: -11px;
}

  .name {
     .feedback3 {
      padding-bottom: 103px;
    }
    .feedback2 {
      padding-bottom: 70px;
    }
    .feedback1 {
      padding-bottom: 40px;
    }
  }
}

@media (min-width:600px) and (max-width:1346px){

  .contact {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

}
@media (max-width:1346px){

  .grid {
    display: none;
  }
}

@media (min-width:600px)and(max-width:936px) {
  .content {
    section {
    height: 140px;
      p {
        width: 90%;
        padding-left: 25px;

      }
    }
  }
}

@media (min-width:400px) and (max-width:699px) {
.rightside {
  padding-right: 116px;
  padding-top: 75px;
}

// .name {
//    .feedback3 {
//     margin-top: 38px;
//   }
//   .feedback2 {
//     margin-top: 47px;
//   }
//   .feedback1 {
//     margin-top: -353px;
//   }
// }

}

  @media (min-width:939px)and(max-width:1346px) {
  .rightside {
    padding-top: 65px;
  }

  }
  @media (min-width:1347px)and(max-width:1500px){
    .rightside {
      padding-top: -28px;
    }
  }
  @media (min-width:593px)and(max-width:708px){
    .rightside {
      margin-top: -111px;
    }
  }
