body {
  margin: 0 auto;
  background: url(images/big.jpg.png) top left no-repeat;
  background-size: cover;
  width: 100%; }

@keyframes demoAnimate {
  0% {
    background-color: maroon; }
  50% {
    background-color: red; }
  100% {
    background-color: orange; } }

* {
  font-family: 'Cantarell', Arial; }

.camera img {
  position: relative;
  width: 55%;
  border: 9px solid white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6px; }

.contact {
  background-color: white;
  width: 56%;
  height: 350px;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 300px;
  border-bottom: 4px solid rgba(118, 118, 118, 0.5); }
  .contact section h1 {
    font-size: 20px;
    padding-left: 25px;
    padding-top: 10px;
    width: 50%; }
  .contact section p {
    font-size: 15px;
    padding-left: 25px;
    width: 55%; }

.content {
  width: 58%;
  margin-left: auto;
  margin-right: auto;
  margin-left: 299px; }
  .content section {
    background-color: white;
    display: inline-block;
    width: 30.9%;
    vertical-align: top;
    padding-left: 7px;
    padding-right: 2px;
    height: 370px;
    border-bottom: 4px solid rgba(118, 118, 118, 0.5); }
    .content section h1 {
      font-size: 20px;
      padding-left: 25px; }
    .content section h2 {
      font-size: 15px;
      color: #ba3a3e;
      text-align: center; }
    .content section h3 {
      font-size: 12px;
      color: #cccccc;
      padding-left: 25px; }
    .content section p {
      font-size: 12px;
      width: 200px;
      padding-left: 25px;
      line-height: 20px; }

.eagle {
  position: absolute;
  margin-left: 250px;
  margin-bottom: 700px; }
  .eagle img {
    height: 200px;
    margin-top: -1270px;
    padding-bottom: 134px;
    margin-left: 75px; }
  .eagle:hover {
    transform: rotate(360deg);
    transition: all 5s; }

.feedback-input {
  display: block;
  float: right; }
  .feedback-input:focus {
    border: 2px solid #CC4949; }

.grid {
  margin-top: -348px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: absolute; }
  .grid img {
    position: absolute;
    height: 310px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 55%; }

.icon {
  width: 77.3%; }
  .icon section {
    display: inline-block;
    float: right;
    margin-bottom: 30px;
    margin-right: 5px;
    margin-top: 6px;
    background-color: #cccccc;
    width: 40px;
    height: 40px; }
    .icon section img {
      width: 40px;
      height: 40px;
      border-bottom: 4px solid #cccccc; }

.icon-2 {
  width: 77.5%;
  display: inline-block;
  padding-left: 25px;
  opacity: 0.5; }
  .icon-2 img {
    width: 40px;
    height: 40px; }

.inputtabs {
  display: inline-block;
  width: 50%;
  float: right; }

.left {
  display: inline-block;
  width: 65%; }

.name {
  width: 100%;
  color: #cccccc;
  clear: both;
  float: right;
  text-align: left; }
  .name .feedback1 {
    margin-top: -272px;
    margin-right: -310px;
    padding-bottom: 19px;
    padding-left: 31px;
    padding-right: 206px;
    display: block; }
  .name .feedback2 {
    margin-top: 25px;
    margin-right: -310px;
    padding-bottom: 19px;
    padding-left: 31px;
    padding-right: 206px;
    display: block; }
  .name .feedback3 {
    margin-top: 24px;
    margin-right: -310px;
    padding-bottom: 81px;
    padding-left: 13px;
    padding-right: 226px;
    display: block; }

.tabsattop {
  width: 100%; }

.navbar {
  width: 55.5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 11px;
  margin-top: 5px;
  clear: both; }
  .navbar section {
    display: inline-block;
    background-color: #ba3a3e;
    color: white;
    width: 24%;
    border-bottom: 6px solid rgba(118, 118, 118, 0.5);
    padding-right: 4.2px;
    height: 40px; }
    .navbar section p {
      text-align: center;
      padding-bottom: 65px;
      margin-top: 12px; }

.radio {
  text-align: center;
  padding-bottom: 13px; }

.middle .redarrow {
  background-color: #ba3a3e;
  animation: demoAnimate 1s infinite;
  color: white;
  width: 12%;
  height: 70px;
  margin-left: 96px;
  margin-top: 50px;
  display: inline-block;
  position: absolute;
  border-bottom: 4px solid rgba(118, 118, 118, 0.5); }
  .middle .redarrow p {
    text-align: center;
    padding-top: 12px;
    margin-left: 9px; }
  .middle .redarrow:hover {
    transform: rotate(180deg);
    transition: all 5s; }
  .middle .redarrow::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 36px 0 35px 36px;
    border-color: transparent transparent transparent #ba3a3e;
    float: right;
    left: 36px;
    bottom: 64px;
    position: relative; }

.middle .skaters {
  width: 100%;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  .middle .skaters img {
    width: 97%;
    border: 4px solid white;
    height: 165px;
    margin-bottom: 10px; }
  .middle .skaters p {
    font-size: 35px;
    font-weight: bold;
    color: white;
    position: absolute;
    font-family: 'Titillium Web', Arial;
    text-align: center; }
  .middle .skaters .col-1 {
    width: 66%;
    display: inline-block; }
    .middle .skaters .col-1 .lance {
      display: inline-block;
      width: 49%; }
      .middle .skaters .col-1 .lance p {
        padding-left: 28px;
        margin-top: -155px;
        margin-left: 10px; }
    .middle .skaters .col-1 .rodney {
      display: inline-block;
      width: 49%;
      margin-left: 5px; }
      .middle .skaters .col-1 .rodney p {
        padding-left: 59px;
        margin-top: -154px; }
    .middle .skaters .col-1 .steve {
      width: 101%; }
      .middle .skaters .col-1 .steve p {
        padding-left: 116px;
        margin-top: -128px; }
  .middle .skaters .tommy {
    margin-right: 10px;
    width: 32%;
    display: inline-block; }
    .middle .skaters .tommy img {
      width: 100%;
      margin: 14px;
      height: 347px;
      border: 4px solid white; }
    .middle .skaters .tommy p {
      padding-left: 60px;
      margin-top: -252px; }

.skateboards {
  background-color: white;
  width: 54%;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 35px;
  padding-top: 11px;
  border-bottom: 4px solid rgba(118, 118, 118, 0.5); }
  .skateboards section {
    display: inline-block;
    width: 9.17%; }

.submit {
  background-color: #bc393a;
  width: 15%;
  float: right;
  padding-left: 20px;
  margin-top: -29px;
  margin-right: 49px; }
  .submit a {
    color: white;
    text-decoration: none; }
  .submit p {
    text-align: center;
    margin-right: 18px; }

.subscribe p {
  display: inline-block;
  color: white;
  margin-left: 700px;
  font-size: 12px;
  margin-top: 22px; }

@media (max-width: 600px) {
  .camera img {
    margin-top: 37px; }
  .contact {
    margin-left: 0;
    width: 100%; }
    .contact section p {
      width: 100%;
      margin-left: 52px; }
    .contact section h1 {
      width: 122%;
      padding-left: 43px; }
  .content {
    margin-left: -5px;
    width: 100%; }
    .content section {
      display: block;
      width: 100%; }
      .content section p {
        width: 93%; }
      .content section h1 {
        text-align: center;
        padding-top: 60px; }
  .subscribe {
    display: none; }
  .eagle {
    display: none; }
  .icon-2 {
    width: 130.5%;
    margin-left: -180%; }
  .skateboards {
    display: none; }
  .navbar {
    width: 100%; }
    .navbar section {
      padding-right: 87.2;
      width: 50%;
      display: block;
      margin-left: 103px; }
      .navbar section p {
        width: 100%; }
  .submit {
    width: 32%;
    margin-right: 127px;
    margin-bottom: 37px; }
  .inputtabs {
    float: left;
    padding-top: 358px;
    width: 100%;
    margin-left: 18px; }
  .middle {
    width: 100%; }
    .middle .redarrow {
      display: none; }
    .middle .skaters {
      width: 100%;
      padding-top: 20px;
      padding-left: 5px; }
      .middle .skaters .tommy {
        display: none; }
      .middle .skaters .col-1 {
        width: 98%; }
        .middle .skaters .col-1 .row1 .lance, .middle .skaters .col-1 .row1 .rodney {
          display: inline-block;
          width: 48%; }
          .middle .skaters .col-1 .row1 .lance p, .middle .skaters .col-1 .row1 .rodney p {
            margin-left: -20px; }
        .middle .skaters .col-1 .steve p {
          margin-left: -50px; } }

@media (max-width: 600px) {
  .camera img {
    width: 83%; }
  .navbar {
    width: 100%; }
    .navbar section {
      padding-left: 37px;
      padding-right: 27px;
      margin-left: 54px; }
      .navbar section p {
        font-size: 12px; } }

@media (min-width: 600px) and (max-width: 935px) {
  .navbar {
    width: 100%; }
    .navbar section {
      padding-right: 87.2;
      width: 70%;
      display: block;
      margin-left: 103px; }
      .navbar section p {
        width: 100%; }
  .content {
    margin-left: 161px; }
    .content section {
      width: 100%; } }

@media (max-width: 1300px) {
  .eagle {
    display: none; } }

@media (max-width: 1472px) {
  .navbar {
    width: 80%; }
  .skateboards {
    display: none; }
  .subscribe {
    display: none; }
  .grid img {
    display: none; } }

@media (min-width: 800px) and (max-width: 1303px) {
  .middle .skaters {
    width: 62%;
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 594px) and (max-width: 1260px) {
  .middle {
    width: 71%;
    margin-left: auto;
    margin-right: auto; }
    .middle .redarrow {
      display: none; }
    .middle .skaters {
      width: 75%;
      padding-top: 20px;
      padding-left: 5px; }
      .middle .skaters .tommy {
        display: none; }
      .middle .skaters .col-1 {
        width: 98%; }
        .middle .skaters .col-1 .row1 .lance, .middle .skaters .col-1 .row1 .rodney {
          display: inline-block;
          width: 48%; }
          .middle .skaters .col-1 .row1 .lance p, .middle .skaters .col-1 .row1 .rodney p {
            margin-left: -20px; }
        .middle .skaters .col-1 .steve p {
          margin-left: -50px; }
  .content {
    width: 60%;
    margin-left: auto;
    margin-right: auto; }
    .content section {
      padding-bottom: 154px; }
      .content section p {
        width: 126px; } }

@media (min-width: 951px) and (max-width: 1320) {
  .submit {
    margin-top: -11px; }
  .name .feedback3 {
    padding-bottom: 103px; }
  .name .feedback2 {
    padding-bottom: 70px; }
  .name .feedback1 {
    padding-bottom: 40px; } }

@media (min-width: 600px) and (max-width: 1346px) {
  .contact {
    width: 100%;
    margin-left: auto;
    margin-right: auto; } }

@media (max-width: 1346px) {
  .grid {
    display: none; } }

@media (min-width: 600px) and (max-width: 936px) {
  .content section {
    height: 140px; }
    .content section p {
      width: 90%;
      padding-left: 25px; } }

@media (min-width: 400px) and (max-width: 699px) {
  .rightside {
    padding-right: 116px;
    padding-top: 75px; } }

@media (min-width: 939px) and (max-width: 1346px) {
  .rightside {
    padding-top: 65px; } }

@media (min-width: 1347px) and (max-width: 1500px) {
  .rightside {
    padding-top: -28px; } }

@media (min-width: 593px) and (max-width: 708px) {
  .rightside {
    margin-top: -111px; } }
